<%- if user_signed_in? %>
  <div class="px-6 py-12 md:px-12 bg-gray-200 text-gray-800 text-center lg:text-left weight: 100%">
      <% for i in (0..9) %>
          <div class="container mx-auto xl:px-32">
              <div class="bg-white rounded-lg overflow-hidden shadow relative">
                <img class="h-56 w-full object-cover object-center" src="https://images.unsplash.com/photo-1457282367193-e3b79e38f207?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1654&q=80" alt="">
                <div class="p-4 h-auto md:h-40 lg:h-48">
                  <a href="#" class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg">
                    Titulo
                  </a>
                  <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm">
                    Contenido sdfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
                  </div>
                  <div class="relative mt-2 lg:absolute bottom-0 mb-4 md:hidden lg:block">
                    <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#something</a>
                    <a class="inline bg-gray-300 py-1 px-2 rounded-full text-xs lowercase text-gray-700" href="#">#sky</a>
                  </div>
                </div>
              </div>
          </div>
        <br />
      <% end %>
  </div>
<% else %>  

  <div class="px-6 py-12 md:px-12 bg-gray-200 text-gray-800 text-center lg:text-left">
      <div class="container mx-auto xl:px-32">
        <div class="grid lg:grid-cols-2 gap-12 flex items-center">
          <div class="mt-12 lg:mt-0">
            <h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12">The best way to see <br /><span class="text-blue-600">your cellphone feature</span></h1>
            
            <a class="inline-block px-7 py-3 bg-transparent text-blue-600 font-medium text-sm leading-snug uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out" data-mdb-ripple="true" data-mdb-ripple-color="light" href="#!" role="button">Learn more</a>
            <%= link_to "Log In", new_user_session_path , class:"inline-block px-7 py-3 mr-2 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out", role:"button" %><br />
          </div>
          <div class="mb-12 lg:mb-0">
            <img
              src="https://mdbootstrap.com/img/new/ecommerce/vertical/028.jpg"
              class="w-full rounded-lg shadow-lg"
              alt=""
            />
        </div>
      </div>
    </div>
  </div>





<% end %>  